body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('./img/back.svg');
  background-size: cover;         /* Fai in modo che l'immagine copra l'intero elemento */
  background-repeat: no-repeat;   /* Impedisci alla tua immagine di ripetersi */
  background-position: center;
  background-attachment: fixed; 
}

.container {
  max-width: 1200px;
  margin: 2em auto;
  padding: 20px;
  overflow-x: auto;
}

h1 {
  font-size: 2.2em;
  margin-bottom: 20px;
  color: #444;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #d4d4d4;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #eee; /* Slightly darker header for contrast */
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #4a4a4a;
}

th:nth-child(1) {
  text-align: left;
}

th:nth-child(n+2) {
  text-align: end;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

td {
  font-size: 0.9em;
  transition: background-color 0.3s; /* Transition for hover effect */
}

tr:hover {
  background-color: #e7e7e7;
}

.positive {
  color: #008744;
  font-weight: bold;
}

.negative {
  color: #d62d20;
  font-weight: bold;
}

.coin-image-cell {
  text-align: center;
  vertical-align: middle;
}

.symbolFil{
  font-size: 14px;
}
